.someClass {
    border: 1px solid lightgreen;
    }

.error {
    border: 1px solid red;
    }

.GreetingContainer {
    background-color: rgba(47, 33, 6, 0.51);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px #584800e8;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    width: fit-content;
    }

.errorText {
    color: #ffb5b5;
    display: block;
    font-weight: bold;
    text-align: center;
    /*border: 1px solid red;*/
    }

.GreetingContainer button {
    background-color: #426a6a;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    height: 22px;
    margin: 8px 10px;
    padding: 0 10px;
    text-transform: uppercase;
    transition: 0.2s;
    }

.GreetingContainer button:hover {
    background-color: #3948a9;
    transition: 0.2s;
    }

.GreetingContainer input {
    border-radius: 10px;
    outline: none;
    padding: 10px;
    }

.userCounter {
    color: white;
    font-weight: 900;
    margin-top: 8px;
    }